<h1><%= @cocktail.name %></h1>
<div class="container">
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <% if dose.persisted? %>
        <li>
          <%= dose.description %> <%= dose.ingredient.name %>
          <%= link_to "&times;".html_safe, dose, method: :delete %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <hr>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient %>
    <%= f.input :description %>
    <%= f.button :submit %>
  <% end %>
</div>
